#x-Axis {
    top: 70px;
    position: fixed;
    width: 80vw;
    height: 2px;
    background: black;
    left: 50%;
    margin-left: -40vw;
}
#x-Axis div {
    position: fixed;
    transition: 1s;
    left: 0;
    top: 0;
}

#y-Axis {
    left: 70px;
    position: fixed;
    height: 80vh;
    width: 2px;
    background: black;
    top: 50%;
    margin-top: -40vh;
}

#y-Axis div {
    position: fixed;
    transition: 1s;
    left: 0;
    top: 0;
    text-align: right;
    width: 50px;
}

#image-list {
    position: relative;
}

#image-list img {
    position: absolute;
    transition: 1s;
    left: 0;
    top: 0;
}