.axis {
    color: #ccc;
    font-size: 0.9em;
    background: transparent;
    position: fixed;
}

#x-Axis {
    top: 70px;
    width: 80vw;
    height: 2px;
    left: 50%;
    margin-left: -40vw;
}
#x-Axis .axis-group {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
}

#x-Axis .axis-group p {
    padding-left: 10px;
    margin-top: 0px;
}

#y-Axis .axis-group p {
    margin-top: 10px;
}

.divider {
    display: block;
    background: rgba(211, 211, 211, 0.50);
    position: absolute;
}



.x-divider {
    height: calc(100vh - 50px);
    width: 1px;
}

.y-divider {
    width: calc(100vw - 50px);
    height: 1px;
}

#y-Axis  {
    left: 70px;
    height: 80vh;
    width: 2px;
    top: 50%;
    margin-top: -40vh;
}

#y-Axis .axis-group {
    position: fixed;
    left: 0;
    top: 0;
    text-align: right;
    margin-left: 50px;
}

h1 {
    position: fixed;
    top: 70px;
    left: 150px;
    color: #cccccc;
    font-size: 2rem;
    font-weight: bolder;
}


#image-list {
    position: relative;
}

.imageItem {
    position: absolute;
}

/*
.imageData {
    position: absolute;
    margin-top: -15px;
    background: transparent;
    z-index: -.1;
    font-size: 1rem;
    color: #333;
}
*/
.imageData {
    position: absolute;
    background: transparent;
    z-index: -.1;
    font-size: 1rem;
    color: #333;
}

.imageName {
    margin-top: 4px;
    font-weight: bolder;
    margin-bottom: 4px;
}

.imageDescription {
    width: 300px;
    color: gray;
}

.imageItem img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
    pointer-events: none;
}